hero slider on home page

- ibere rya bigogwe
- lake kivu (), islands (napoleon), akarwa k'abakobwa, coffee experience, 

- akagera national park (lion, zebra, hippo, elephant, rhino, 
- 

- ibere rya bigogwe, gisenyi optional
- akagera 3 tours (the big 5 five, birding tour, 
- volcanoes tours (tracking animals, 
- gorilla trekking 
- nyungwe tours
- gisenyi tour - speedboats, 
- kivu lake tour - boating, coffee experience, islands, 

link tripadvisorx
